body{
  background-color: lightblue;
}
.Login {
  /* width: 500px; */
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.himageee{
 margin-left: 0;
 height: 300px;
 width: 600px;
}

.loginButton{
  margin-top: 40px;
  width:200px;
  height:50px;
}